{% extends 'base/base.html' %}

{% block css %}
<style>
    .row-image {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
{% include 'images/snippets/modal.html' %}
{% include 'images/snippets/delete.html' %}

<div class="row mt-2">
    <div class="col">
        <h4><a href="{% url 'albums:list' %}">Galería</a>/{{ object }}</h4>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subirImagen">
            Nueva Imagen
        </button>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr class="row-image" image-id="{{ image.id }}">
                        <td>
                            <input type="hidden" value="{{ image.url }}" id="image-preview-{{ image.id }}">
                            <div id="image-name-{{ image.id }}">
                                {{ image.title }}
                            </div>
                            <form action="{% url 'images:update' image.id %}" method="POST" class="image-form" image-id="{{ image.id }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ image.title }}" class="form-control" id="image-input-name-{{ image.id }}" name="name">
                            </form>
                        </td>
                        <td>{{ image.created_at }}</td>
                        <td>{{ image.size }}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                    ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ image.url }}" target="_blank" class="dropdown-item">Vista previa</a></li>
                                    <li><a href="" class="dropdown-item image-edit" image-id="{{ image.id }}">Cambiar nombre</a></li>
                                    <li><a href="" class="dropdown-item" image-id="{{ image.id }}">Descargar</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="{% url 'images:show' image.id %}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <img src="" alt="" width="300" height="300" id="image-preview">
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    const imagePreview = document.getElementById('image-preview');
    const imageDefault = 'https://galerias3.s3.us-west-1.amazonaws.com/1x1.png';

    function selectRow(row) {
        const imageId = row.getAttribute('image-id');
        const input = document.getElementById('image-preview-' + imageId);
        imagePreview.src = input.value;

        document.querySelectorAll('.table-active').forEach((element) => {
            element.classList.remove('table-active')
        });
        row.classList.add('table-active');
    }

    function setDefaultImage() {
        let rows = document.getElementsByTagName('tr');

        if (rows.length >= 2) {
            selectRow(rows[1]);
        } else {
            imagePreview.src = imageDefault;
        }
    }

    document.querySelectorAll('.row-image').forEach((element) => {
        element.addEventListener('click', function(event) {
            selectRow(this);
        });
    });

    document.querySelectorAll('.image-edit').forEach((element) => {
        element.addEventListener('click', function(event) {
            event.preventDefault();
            const imageId = this.getAttribute('image-id');
            const input = document.getElementById('image-input-name-' + imageId);

            const div = document.getElementById('image-name-' + imageId);
            div.style.display = 'none';
            input.setAttribute('type', 'text');
        });
    });

    document.querySelectorAll('.image-form').forEach((element) => {
        element.addEventListener('submit', function(event) {
            event.preventDefault();

            fetch(this.action, {
                body: new FormData(this),
                method: 'POST',
            }).then((response) => {
                return response.json();
            }).then((data) => {
                const imageId = this.getAttribute('image-id');
                
                const input = document.getElementById('image-input-name-' + imageId);
                input.value = data.name;
                input.setAttribute('type', 'hidden');

                const div = document.getElementById('image-name-' + imageId);
                div.innerHTML = data.name;
                div.style.display = 'block';

                const preview = document.getElementById('image-preview-' + imageId);
                preview.value = data.url;
            });
        });
    });

    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget; // botón que lanzó el modal
        fetch(button.href).then((response) => {
            return response.json();
        }).then(function(data) {
            const strongName = document.getElementById('strong-name');
            strongName.innerText = data.name;

            const deleteButton = document.getElementById('delete-modal-button');
            deleteButton.href = data.delete_url;
        });
    });

    setDefaultImage();
</script>
{% endblock %}