{% extends 'base/base.html' %}

{% block css %}
<style>
    .row-image {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
{% include 'images/snippets/modal.html' %}
{% include 'images/snippets/delete.html' %}

<div class="row mt-2">
    <div class="col">
        <h4><a href="{% url 'albums:list' %}">Galería</a>/{{ object }}</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <form action="{% url 'images:search' %}" id="image-search">
            <input type="text" class="form-control" name="q" id="q" placeholder="Buscar imagen">
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subirImagen">
            Nueva Imagen
        </button>
        <a href="{% url 'images:download_many' %}" class="btn btn-info disabled" id="download-images">
            Descargar
        </a>
        <a href="{% url 'images:delete_many' %}" class="btn btn-danger disabled" id="delete-images">
            Eliminar
        </a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" id="check-all-image" class="form-check-input">
                        </div>
                    </th>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-images">
                {% for image in images %}
                {% include 'images/snippets/image.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <img src="" alt="" width="300" height="300" id="image-preview">
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    const imagePreview = document.getElementById('image-preview');
    const imageDefault = 'https://galerias3.s3.us-west-1.amazonaws.com/1x1.png';

    const deleteModal = document.getElementById('deleteModal');

    const checkAllImages = document.getElementById('check-all-image');

    const downloadImages = document.getElementById('download-images');
    const deleteImages = document.getElementById('delete-images');

    const imageSearch = document.getElementById('image-search');

    function selectRow(row) {
        const imageId = row.getAttribute('image-id');
        const input = document.getElementById('image-preview-' + imageId);
        imagePreview.src = input.value;

        document.querySelectorAll('.table-active').forEach((element) => {
            element.classList.remove('table-active')
        });
        row.classList.add('table-active');
    }

    function setDefaultImage() {
        let rows = document.getElementsByTagName('tr');

        if (rows.length >= 2) {
            selectRow(rows[1]);
        } else {
            imagePreview.src = imageDefault;
        }
    }

    function checkInputs() {
        const images = document.querySelectorAll('input.check-images[type="checkbox"]:checked');

        if (images.length >= 2) {
            downloadImages.classList.remove('disabled');
            deleteImages.classList.remove('disabled');
        } else {
            downloadImages.classList.add('disabled');
            deleteImages.classList.add('disabled');
        }
    }

    function getSelectedImagesIds() {
        let ids = [];
        const images = document.querySelectorAll('input.check-images[type="checkbox"]:checked');

        for (let i = 0; i < images.length; i++) {
            let imageId = images[i].getAttribute('image-id');
            ids.push(imageId);
        }

        return ids;
    }

    function registerEvents() {
        document.querySelectorAll('.row-image').forEach((element) => {
            element.addEventListener('click', function (event) {
                selectRow(this);
            });
        });

        document.querySelectorAll('.image-edit').forEach((element) => {
            element.addEventListener('click', function (event) {
                event.preventDefault();
                const imageId = this.getAttribute('image-id');
                const input = document.getElementById('image-input-name-' + imageId);

                const div = document.getElementById('image-name-' + imageId);
                div.style.display = 'none';
                input.setAttribute('type', 'text');
            });
        });

        document.querySelectorAll('.image-form').forEach((element) => {
            element.addEventListener('submit', function (event) {
                event.preventDefault();

                fetch(this.action, {
                    body: new FormData(this),
                    method: 'POST',
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    const imageId = this.getAttribute('image-id');

                    const input = document.getElementById('image-input-name-' + imageId);
                    input.value = data.name;
                    input.setAttribute('type', 'hidden');

                    const div = document.getElementById('image-name-' + imageId);
                    div.innerHTML = data.name;
                    div.style.display = 'block';

                    const preview = document.getElementById('image-preview-' + imageId);
                    preview.value = data.url;
                });
            });
        });

        document.querySelectorAll('.check-images').forEach((element) => {
            element.addEventListener('change', function (event) {
                checkInputs();
            });
        });
    }

    deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget; // botón que lanzó el modal
        fetch(button.href).then((response) => {
            return response.json();
        }).then(function (data) {
            const strongName = document.getElementById('strong-name');
            strongName.innerText = data.name;

            const deleteButton = document.getElementById('delete-modal-button');
            deleteButton.href = data.delete_url;
        });
    });

    checkAllImages.addEventListener('change', function (event) {
        document.querySelectorAll('.check-images').forEach((element) => {
            element.checked = this.checked;
        });
        checkInputs();
    });

    deleteImages.addEventListener('click', function (event) {
        event.preventDefault();
        let ids = getSelectedImagesIds();

        fetch(this.href, {
            method: 'POST',
            body: JSON.stringify({ 'ids': ids }),
        }).then((response) => {
            return response.json();
        }).then(function (data) {
            console.log(data.ids);
            for (let i = 0; i < data.ids.length; i++) {
                let imageId = data.ids[i];
                document.getElementById('image-' + imageId).remove();
            }
            setDefaultImage();
        });
    });

    downloadImages.addEventListener('click', function (event) {
        event.preventDefault();

        let ids = getSelectedImagesIds();

        window.location.href = this.href + '?ids=' + ids;

    });

    imageSearch.addEventListener('submit', function (event) {
        event.preventDefault();

        if (this.q.value != '') {
            fetch(this.action + '?q=' + this.q.value).then((response) => {
                return response.json();
            }).then((data) => {
                let tbody = document.getElementById('table-images');
                tbody.innerHTML = data.images.toString().replaceAll(',', '');
                registerEvents();
                setDefaultImage();
            });
        } else {
            location.reload();
        }
    });

    registerEvents();
    setDefaultImage();
</script>
{% endblock %}