<div class="modal fade" id="subirImagen" tabindex="-1" aria-labelledby="subirImagenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="subirImagenLabel">Subir Imagen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <form action="{% url 'images:upload' %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input class="btn btn-primary" type="submit" value="Subir">
                </div>
            </form>
        </div>
    </div>
</div>